body{
    font-family:sans-serif;
    margin:0;
    padding:20px;
        background-image: url("flight.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center; 
      }
}
.container{
    width:500px;
    margin:0 auto;
    border:1px solid #ddd;
    padding:30px;
    border-radius:5px;
}
h1{
    text-align:center;
    margin-bottom:20px;
    color:white;
}
.form-group
{
    margin-bottom:15px;
}
label{
    color:white;
    margin-bottom:5px;
    font-weight: bold;
}
input[type='text'],
input[type='date'],
select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:3px;
    box-sizing:border-box;
}
button{
    background-color:#4CAF50;
    color:white;
    padding:10pre 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}